<div class="centered">
    <h2>CONGRATULATIONS, YOU DID IT!  Here’s your awesome prize:</h2>
    <img src="http://gifs.gifbin.com/102013/1382547631_skateboard_flip_beer_trick.gif" alt="Skateboard flip beer trick" title="Skateboard flip beer trick" width="440" id="gif">
</div>

